.header {
  background: #dddddd top center no-repeat;
  min-width: 100%;
  min-height: 100%;
}
.intro {
  background: lightblue;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
}
.intro-text {
  height: 80%;
  top: 20%;
}
