.content {
	
}

	.point {
	@media (min-width: @screen-sm-min) { 
		display: none;
	}
}

.navbar {
	display: none;
	@media (min-width: @screen-sm-min) { 
		display: block;
	}

}
.thankyou {
	margin-top: 10%;
	height: 100%;
}

.thankyou-msg {

}

#right-content {
	@media (min-width: @screen-sm-min) { 
		display: none;
	}
}