// Uni main styling and positioning

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  // use alegreya font on whole website
  .alegreyaregular;
}

// hide scrollbar
::-webkit-scrollbar { 
    display: none; 
}
// div centering
.centered {
  float: none;
  margin: 0 auto;
}

#onepixel {
	height: 1px;
}