.label {
	cursor: pointer;
}

.language-label-off {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	background: lightgray;
	color: red;
}

.language-label-on {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	background: darkgreen;
	color: white;
}

.language-checkbox {
	display: none; 
}

.languages-error {
	color: red;
}

.hidden {
	display: none;
}